{{ $word := "" }}
{{ $parts := "" }}
{{ $translations := "" }}
{{ $stress := "" }}
{{ $cap := "" }}

{{ if .IsNamedParams }}
    {{ $word = .Get "w" }}
    {{ $parts = .Get "p" }}
    {{ $translations = .Get "t" }}
    {{ $stress = .Get "s" }}
    {{ $cap = .Get "c" }}
{{ else }}
    {{ $word = .Get 0 }}
    {{ $parts = .Get 1 }}
    {{ $translations = .Get 2 }}
    {{ $stress = .Get 3 }}
    {{ $cap = .Get 4 }}
{{ end }}


{{ $chars := split $word "" }}

{{ $cyr := slice }}
{{ range $i, $c := $chars }}
    {{ if eq (lower $c) "i" }}{{ $cyr = $cyr | append "и"}}{{end}}
    {{ if eq (lower $c) "m" }}{{ $cyr = $cyr | append "м"}}{{end}}
    {{ if eq (lower $c) "l" }}{{ $cyr = $cyr | append "л"}}{{end}}
    {{ if eq (lower $c) "n" }}{{ $cyr = $cyr | append "н"}}{{end}}
    {{ if eq (lower $c) "e" }}{{ $cyr = $cyr | append "е"}}{{end}}
    {{ if eq (lower $c) "k" }}{{ $cyr = $cyr | append "к"}}{{end}}
    {{ if eq (lower $c) "g" }}{{ $cyr = $cyr | append "г"}}{{end}}
    {{ if eq (lower $c) "q" }}{{ $cyr = $cyr | append "к"}}{{end}}
    {{ if eq (lower $c) "p" }}{{ $cyr = $cyr | append "п"}}{{end}}
    {{ if eq (lower $c) "b" }}{{ $cyr = $cyr | append "б"}}{{end}}
    {{ if eq (lower $c) "t" }}{{ $cyr = $cyr | append "т"}}{{end}}
    {{ if eq (lower $c) "d" }}{{ $cyr = $cyr | append "д"}}{{end}}
    {{ if eq (lower $c) "u" }}{{ $cyr = $cyr | append "у"}}{{end}}
    {{ if eq (lower $c) "c" }}{{ $cyr = $cyr | append "ш"}}{{end}}
    {{ if eq (lower $c) "r" }}{{ $cyr = $cyr | append "р"}}{{end}}
    {{ if eq (lower $c) "s" }}{{ $cyr = $cyr | append "с"}}{{end}}
    {{ if eq (lower $c) "z" }}{{ $cyr = $cyr | append "з"}}{{end}}
    {{ if eq (lower $c) "v" }}{{ $cyr = $cyr | append "в"}}{{end}}
    {{ if eq (lower $c) "o" }}{{ $cyr = $cyr | append "о"}}{{end}}
    {{ if eq (lower $c) "j" }}{{ $cyr = $cyr | append "й"}}{{end}}
    {{ if eq (lower $c) "x" }}{{ $cyr = $cyr | append "тл"}}{{end}}
    {{ if eq (lower $c) "a" }}{{ $cyr = $cyr | append "а"}}{{end}}
{{ end }}

{{ $cyr2 := delimit $cyr "" }}
{{ $cyr2 := replaceRE "йа" "я" $cyr2 }}
{{ $cyr2 := replaceRE "мй$" "мь" $cyr2 }}
{{ $cyr2 := replaceRE "лй$" "ль" $cyr2 }}
{{ $cyr2 := replaceRE "нй$" "нь" $cyr2 }}
{{ $cyr2 := replaceRE "^е" "э" $cyr2 }}


{{ $ipa := slice }}
{{ if eq $stress "" }}
    {{ $ipa = $ipa | append "ˈ"}}
{{ end }}
{{ range $i, $c := $chars }}
    {{ if eq $i $stress }}
        {{ $ipa = $ipa | append "ˈ"}}
    {{ end }}
    {{ if eq (lower $c) "i" }}{{ $ipa = $ipa | append "i"}}{{end}}
    {{ if eq (lower $c) "m" }}{{ $ipa = $ipa | append "m"}}{{end}}
    {{ if eq (lower $c) "l" }}{{ $ipa = $ipa | append "l"}}{{end}}
    {{ if eq (lower $c) "n" }}{{ $ipa = $ipa | append "n"}}{{end}}
    {{ if eq (lower $c) "e" }}{{ $ipa = $ipa | append "e"}}{{end}}
    {{ if eq (lower $c) "k" }}{{ $ipa = $ipa | append "k"}}{{end}}
    {{ if eq (lower $c) "g" }}{{ $ipa = $ipa | append "g"}}{{end}}
    {{ if eq (lower $c) "q" }}{{ $ipa = $ipa | append "kʼ"}}{{end}}
    {{ if eq (lower $c) "p" }}{{ $ipa = $ipa | append "p"}}{{end}}
    {{ if eq (lower $c) "b" }}{{ $ipa = $ipa | append "b"}}{{end}}
    {{ if eq (lower $c) "t" }}{{ $ipa = $ipa | append "t"}}{{end}}
    {{ if eq (lower $c) "d" }}{{ $ipa = $ipa | append "d"}}{{end}}
    {{ if eq (lower $c) "u" }}{{ $ipa = $ipa | append "u"}}{{end}}
    {{ if eq (lower $c) "c" }}{{ $ipa = $ipa | append "ʃ"}}{{end}}
    {{ if eq (lower $c) "r" }}{{ $ipa = $ipa | append "r"}}{{end}}
    {{ if eq (lower $c) "s" }}{{ $ipa = $ipa | append "s"}}{{end}}
    {{ if eq (lower $c) "z" }}{{ $ipa = $ipa | append "z"}}{{end}}
    {{ if eq (lower $c) "v" }}{{ $ipa = $ipa | append "ʋ"}}{{end}}
    {{ if eq (lower $c) "o" }}{{ $ipa = $ipa | append "o"}}{{end}}
    {{ if eq (lower $c) "j" }}{{ $ipa = $ipa | append "j"}}{{end}}
    {{ if eq (lower $c) "x" }}{{ $ipa = $ipa | append "tɬ"}}{{end}}
    {{ if eq (lower $c) "a" }}{{ $ipa = $ipa | append "a"}}{{end}}
{{ end }}

{{ $ipa2 := delimit $ipa "" }}
{{ $ipa2 := replaceRE "mj" "mʲ" $ipa2 }}
{{ $ipa2 := replaceRE "lj" "ʎ" $ipa2 }}
{{ $ipa2 := replaceRE "nj" "ɲ" $ipa2 }}


<span class="dl {{ if eq $cap 1 }}dl-cap{{end}}"><b>{{ $cyr2 }}</b></span>
<span class="dl nomumu-font">{{ $word }}</span>
<span class="dl">/{{ $ipa2 }}/</span>
{{ if $parts }}<span class="dl dl-parts">{{ $parts }}</span>{{ end }}
{{ if $translations }}<span class="dl">{{ $translations }}</span>{{ end }}
<br>