<div id="vow-inv">
    <p><b>Vowel inventory</b>: <v-ipa>a e i o u</v-ipa>
    </p>
</div>

<div id="bigvowtab">
    <table>
        <tbody>
            <tr>
                <th></th>
                <th>Front</th>
                <th>Back</th>
            </tr>
            <tr>
                <td>High</td>
                <td align="center">i</td>
                <td align="center">u</td>
            </tr>
            <tr>
                <td>High-mid</td>
                <td align="center">e</td>
                <td align="center">o</td>
            </tr>
            <tr>
                <td>Low</td>
                <td align="center">a</td>
                <td align="center"></td>
            </tr>
        </tbody>
    </table>
</div>