<div class="vl__grammar-block"><b>Consonant inventory</b>: <v-ipa>b d g j k kʼ l m mʲ n p r s t tɬ z ɲ ʃ ʋ ʎ
</v-ipa>
</p>
<p></p>
<table>
    <tbody>
        <tr>
            <th>↓Manner/Place→</th>
            <th>Bilabial</th>
            <th>Labiodental</th>
            <th>Alveolar</th>
            <th>Palato-alveolar</th>
            <th>Palatal</th>
            <th>Velar</th>
        </tr>
        <tr>
            <td>Nasal</td>
            <td align="center">m mʲ</td>
            <td align="center"></td>
            <td align="center">n</td>
            <td align="center"></td>
            <td align="center">ɲ</td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>Stop</td>
            <td align="center">p b</td>
            <td align="center"></td>
            <td align="center">t d</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">k kʼ g</td>
        </tr>
        <tr>
            <td>Fricative</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">s z</td>
            <td align="center">ʃ</td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>Approximant</td>
            <td align="center"></td>
            <td align="center">ʋ</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">j</td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>Trill</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">r</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>Lateral approximant</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">l</td>
            <td align="center"></td>
            <td align="center">ʎ</td>
            <td align="center"></td>
        </tr>
    </tbody>
</table>
</div>