@font-face {
    font-family: nomumu;
    src: url('/fonts/nomumu251.otf');
}

.nomumu-font {
    font-family: nomumu;
    font-size: 1em;
}

.nomumu-font-big {
    font-family: nomumu;
    font-size: 2em;
}

.dl-parts {
    color: gray;
}

.dl {
    font-style: normal;
    font-weight: normal;
}

.dl-cap {
    text-transform: capitalize;
}

.gloss {
    width: auto;
    /* font-size: 1em; */
}

.gloss tr {
    border: 0;
}

.gloss td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.gloss td.detail {
    /* font-feature-settings:"smcp"; */
    /* font-variant: small-caps; */
}